<%= form_with(model: @recipe, local:true) do |f| %>
<div class="container">
  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :preparation_time %><br />
    <%= f.text_field :preparation_time, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :cooking_time %><br />
    <%= f.text_field :cooking_time, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br />
    <%= f.text_area :description, class:"form-control" %>
  </div>

   <div class="form-group">
    <%= f.label :public %><br />
    <%= f.text_field :public, class:"form-control" %>
  </div>

  <div class="submit-button">
    <%= f.submit class: "btn btn-outline-dark btn-lg" %>
  </div>
</div>
<% end %>