<h1 class="text-center mt-4">Here Is All The Food</h1>
<div class='position'>
  <%= link_to "Add Food", new_food_path, class: "btn btn-outline-primary " %>
</div>
<div class="container mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Measurement_unit</th>
        <th scope="col">Unit price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= food.price %></td>
        <td><%= link_to 'Delete', food_path(food), data: { turbo_method: 'delete', turbo_confirm: "Are you sure to delete" }, class: "btn btn-outline-danger" %></td>
      </tr>
    </tbody>
    <%end%>
  </table>

  <div class="apple_pagination mb-4">
    <%= will_paginate @foods, :container => false %>
  </div>
</div>